@font-face {
    font-family: 'Comfortaa';
    font-style: regular;
    font-weight: 400;
    src: url(../font/Comfortaa-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: Calibri, 'PT Sans', sens-serif;
    background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
    font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>buttons {
    position: fixed;
    top: 0.5em;
    z-index: 8;
    opacity: 0.8;
    left: 0.75em;
}

buttons button {
    margin: 0 0.25em;
}

button {
    background: rgba(255, 255, 255, 0.6);
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
}

td button {
    position: absolute;
    top: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: darkblue;
}

msg {
    margin-left: 1em;
}

login {
    position: fixed;
    width: 40em;
    background: rgba(230, 230, 230, 0.95);
    z-index: 9;
    left: 50%;
    margin-left: -20em;
    top: 3em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
}

login input {
    width: 100%;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse
}

td,
th {
    vertical-align: top;
    text-align: left;
    padding: 0.5em 0.75em;
}

th {
    font-weight: bold;
    background: gold;
}

tr:nth-child(even) {
    background-color: lightcyan;
}

output,
logs,
tickets {
    width: 100%;
    position: relative;
    display: block;
    overflow-x: auto;
    padding: 1em;
    box-sizing: border-box;
    white-space: nowrap;
}

output {
    text-align: left;
    padding: 3em 1em 0 1em;
}