:root {
	--borderColor: rgba(170, 170, 255, 0.2);
	--border: solid 1px var(--borderColor);
	--headerLabelBG: rgba(255, 255, 255, 0.85);
}

@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(../font/Comfortaa-Regular.ttf) format('truetype');
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-align: center;
	background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

body>container>element {
	display: block;
	position: relative;
}

body header {
	display: inline-block;
	width: 100%;
	max-width: 50em;
	position: relative;
	overflow-x: hidden;
	border-radius: 0 0 2em 2em;
	background: url("/image/heartBG.jpg");
	background-size: auto 100%;
}

body header span,
tabBody upload span {
	position: relative;
	display: inline-block;
	background: var(--headerLabelBG);
	padding: 0.5em 2em;
	border-radius: 1em;
	margin: 0 1em;
}

button {
	background: rgba(255, 255, 255, 0.6);
	border: var(--border);
	padding: 0.5em 1em;
	border-radius: 1em;
	outline: none;
	cursor: pointer;
	margin: 0 0.5em 0.5em 0.5em;
	font-size: 1em;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 2;
}

h1 {
	margin-top: 1em;
	font-size: 1.5em;
	background: var(--headerLabelBG);
	display: inline-block;
	padding: 0.5em 2em;
	border-radius: 2em;
	font-weight: bold;
}

error {
	position: relative;
	display: block;
	margin-top: -0.6em;
	height: 3.3em;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.8em;
	line-height: 3;
}

header error {
	color: rgb(0, 255, 0);
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6);
}

popup error {
	color: red;
}

attributes {
	display: none;
	position: relative;
	padding-bottom: 3em;
}

attributes id {
	display: none;
}

attributes period,
attributes user {
	display: inline-block;
	position: relative;
	margin-bottom: 2em;
}

attributes div {
	padding-bottom: 0.3em;
	font-weight: bold;
}

table {
	display: inline-block;
	border-spacing: 0;
	border: var(--border);
	font-size: 0.8em;
}

table th,
table td {
	text-align: right;
	padding: 0.75em 1.5em;
}

table td {
	cursor: pointer;
}

table th {
	font-weight: bold;
	background-color: var(--borderColor);
}

table tr.selected {
	background-color: rgba(255, 100, 50, 0.1);
}

table tr.spinner {
	background-color: rgba(255, 150, 50, 0.2);
}

table tr.spinner td:first-child::before {
	content: '⌛ preparing...';
	position: absolute;
	right: -15.5em;
	width: 15em;
	text-align: left;
	font-weight: bold;
	color: rgba(255, 150, 50, 0.6);
}

table tr.download {
	background-color: rgba(255, 150, 50, 0.6);
}

table tr.download td:first-child::before {
	content: '✓ click to download';
	position: absolute;
	right: -15.5em;
	width: 15em;
	text-align: left;
	font-weight: bold;
	color: rgba(200, 100, 0, 1);
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

table td button {
	margin: 0;
}

tabBody {
	display: inline-block;
	width: 100%;
	max-width: 50em;
	position: relative;
	overflow-x: hidden;
	height: 100%;
	border-radius: 2em 2em 0 0;
	background: var(--borderColor);
	border: solid 2em transparent;
}

tabBody>container {
	width: 400%;
	display: inline-block;
	position: absolute;
	height: 100%;
	transition: all ease-out .4s;
	left: 0;
	overflow-y: hidden;
}

tabBody element {
	display: inline-block;
	position: absolute;
	width: 25%;
	min-height: 10em;
	left: 0;
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
}

tabBody img {
	padding: 1em;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 1em;
}

tab {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 0.75em 1em;
	border-radius: 1em 1em 0 0;
}

tab.selected {
	background: var(--borderColor);
}

popup {
	transform: scale(0);
	position: fixed;
	width: 30em;
	background-color: blanchedalmond;
	top: 2em;
	left: 50%;
	margin-left: -15em;
	z-index: 2;
	border-radius: 1em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	transition: all ease-out .4s;
}

popup close {
	position: absolute;
	padding: 1em;
	top: 0;
	right: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

popup close::before {
	content: 'x';
}

popup content {
	position: relative;
	display: block;
	padding: 1em;
}

popup content message {
	line-height: 1.8;
}

popup content data {
	position: relative;
	display: none;
}

textarea,
input {
	appearance: none;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	outline: none !important;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	height: 2em;
	padding: 0em 0.75em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	vertical-align: top;
	border: var(--border);
	color: black;
}

input,
textarea {
	user-select: text;
}

input[type="file"] {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	height: 100%;
}

textarea {
	height: 5em;
	padding-top: 0.5em;
	overflow-y: auto;
	resize: none;
}

label {
	display: block;
	position: relative;
	text-align: left;
	margin-bottom: 1em;
	text-indent: 1em;
	font-style: italic;
	color: rgba(0, 0, 100, 0.5);
}

feedbacks {
	text-align: left;
}

rating,
rating top,
rating note {
	display: block;
	position: relative;
}

rating top {
	font-size: 0.8em;
}

rating note {
	margin: 0.5em 0 2em 0;
}

progressbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}

progressbar loader {
	position: absolute;
	top: calc(50% - 6em);
	left: calc(50% - 6em);
	width: 12em;
	height: 12em;
	border-radius: 50%;
	perspective: 800px;
}

progressbar loader div {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

progressbar loader .one {
	left: 0%;
	top: 0%;
	animation: rotate-one 1s linear infinite;
	border-bottom: 3px solid #b55;
}

progressbar loader .two {
	right: 0%;
	top: 0%;
	animation: rotate-two 1s linear infinite;
	border-right: 3px solid #8d8;
}

progressbar loader .three {
	right: 0%;
	bottom: 0%;
	animation: rotate-three 1s linear infinite;
	border-top: 3px solid #aaf;
}

@keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}