:root {
	--borderColor: rgba(170, 170, 255, 0.2);
	--border: solid 1px var(--borderColor);
	--headerLabelBG: rgba(255, 255, 255, 0.85);
}

@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(../font/Comfortaa-Regular.ttf) format('truetype');
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>container {
	display: block;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	transition: .4s ease-out;
}

body>container>element {
	display: block;
	position: relative;
	border: solid 1em transparent;
}

body>container>element.intro {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
}

body>container>element.intro img.text {
	position: absolute;
	width: 100%;
	margin-top: 1em;
	max-width: 24em;
	filter: drop-shadow(0.05em 0.05em 0.2em rgba(100, 50, 0, 0.9));
}

body>container>element.intro description {
	position: absolute;
	bottom: 0;
	color: white;
	padding: 0.5em;
	background: rgba(0, 0, 0, 0.2);
	margin: 1em;
	border-radius: 1em;
	font-size: 1.5em;
	text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

tabBody upload span {
	position: relative;
	display: inline-block;
	background: var(--headerLabelBG);
	padding: 0.5em 2em;
	border-radius: 1em;
	margin: 0 1em;
}

button {
	background: rgba(255, 255, 255, 0.6);
	border: var(--border);
	padding: 0.5em 1em;
	border-radius: 1em;
	outline: none;
	cursor: pointer;
	margin: 0 0.5em 0.5em 0.5em;
	font-size: 1em;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 2;
}

h1 {
	margin-top: 1em;
	font-size: 1.3em;
	background: var(--headerLabelBG);
	display: inline-block;
	padding: 0.5em 2em;
	border-radius: 2em;
	font-weight: bold;
}

error {
	position: relative;
	display: block;
	padding: 0.5em;
	height: 3em;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 0.8em;
}

header error {
	color: rgb(0, 255, 0);
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6);
}

attributes {
	display: none;
	position: relative;
	padding-bottom: 3em;
}

attributes id {
	display: none;
}

attributes period,
attributes user {
	display: inline-block;
	position: relative;
	margin-bottom: 2em;
}

attributes period::before {
	position: absolute;
	bottom: -1.5em;
	text-align: center;
	width: 100%;
	opacity: 0;
	transition: all .4s ease-out;
}

attributes period.error::before {
	content: '↑ please chose an enty ↑';
	color: red;
	opacity: 1;
}

attributes period.downloadHint::before {
	content: '↑ please download your PDF ↑';
	color: green;
	opacity: 1;
}

attributes div {
	padding-bottom: 0.3em;
	font-weight: bold;
}

attributes summary {
	position: relative;
	display: block;
	cursor: pointer;
}

attributes summary span {
	font-size: 0.8em;
}

attributes summary::before {
	content: '☐';
	position: absolute;
	font-size: 1.5em;
	margin-left: -1em;
	top: -0.25em;
}

attributes summary.selected::before {
	content: '☑';
	color: green;
}

table {
	display: inline-block;
	border-spacing: 0;
	border: var(--border);
	font-size: 0.8em;
}

table th,
table td {
	text-align: right;
	padding: 0.75em 1.5em;
}

table td {
	cursor: pointer;
}

table th {
	font-weight: bold;
	background-color: var(--borderColor);
}

table tr.selected,
period table tr.selected+tr {
	background-color: rgba(255, 100, 50, 0.1);
}

table tr.spinner,
period table tr.spinner+tr {
	background-color: rgba(255, 150, 50, 0.2);
}

table tr.download,
period table tr.download+tr {
	background-color: rgba(255, 150, 50, 0.6);
}

table td button {
	margin: 0;
}

tabHeader {
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	position: relative;
	display: block;
	padding: 0 0.75em;
}

tabBody {
	display: inline-block;
	width: 100%;
	max-width: 50em;
	position: relative;
	overflow-x: hidden;
	height: 100%;
	border-radius: 1em 1em 0 0;
}

tabBody>container {
	width: 400%;
	display: inline-block;
	position: absolute;
	height: 100%;
	transition: all ease-out .4s;
	left: 0;
	background: var(--borderColor);
	overflow-y: hidden;
}

tabBody element {
	display: inline-block;
	position: absolute;
	width: 25%;
	min-height: 10em;
	left: 0;
	box-sizing: border-box;
	overflow-y: auto;
	border: solid 1em transparent;
	height: 100%;
	line-height: 1.4;
}

tabBody img {
	border-radius: 0.5em;
	max-width: 98%;
}

tab {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 0.75em 1em;
	border-radius: 1em 1em 0 0;
}

tab.selected {
	background: var(--borderColor);
}

a {
	text-decoration: none;
	color: darkblue;
	cursor: pointer;
}

textarea,
input {
	appearance: none;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	outline: none !important;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	height: 2em;
	padding: 0em 0.75em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	vertical-align: top;
	border: var(--border);
	color: black;
}

input,
textarea {
	user-select: text;
}

input[type="file"] {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	height: 100%;
}

textarea {
	height: 5em;
	padding-top: 0.5em;
	overflow-y: auto;
	resize: none;
}

label {
	display: block;
	position: relative;
	text-align: left;
	margin-bottom: 1em;
	text-indent: 1em;
	font-style: italic;
	color: rgba(0, 0, 100, 0.5);
}

feedbacks {
	text-align: left;
}

rating,
rating top,
rating note {
	display: block;
	position: relative;
}

rating top {
	font-size: 0.8em;
}

rating note {
	margin: 0.5em 0 2em 0;
}