@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(/font/Comfortaa-Regular.ttf) format('truetype');
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-align: center;
	font-family: Calibri, 'PT Sans', sens-serif;
	background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body>container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

body>container>element {
	display: block;
	position: relative;
}

body>container>element:nth-child(1) {
	flex-grow: 0;
	height: 3em;
}

body>container>element:nth-child(2) {
	flex-grow: 2;
}

body>container>element input {
	position: absolute;
	left: 1em;
	right: 1em;
	top: 0;
	border-radius: 1em 1em 0 0;
	background: rgb(255, 255, 240);
}

body>container>element>buttons {
	position: relative;
	width: 100%;
	padding: 0.5em;
	z-index: 8;
	opacity: 0.8;
	white-space: nowrap;
	overflow-x: auto;
	display: block;
}

buttons button {
	margin: 0 0.25em;
}

button {
	background: rgba(255, 255, 255, 0.4);
	border: solid 1px rgba(0, 0, 0, 0.1);
	padding: 0.5em 1em;
	border-radius: 1em;
	outline: none;
	cursor: pointer;
	font: inherit;
	font-size: 0.8em;
}

a {
	text-decoration: none;
	color: darkblue;
}

msg {
	font-size: 0.7em;
	cursor: pointer;
}

login {
	position: fixed;
	width: 40em;
	background: rgba(230, 230, 230, 0.95);
	z-index: 9;
	left: 50%;
	margin-left: -20em;
	top: 3em;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
}

login input {
	width: 100%;
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: block;
	height: 100%;
	font-size: 1em;
	z-index: 3;
}

thead,
tbody {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	position: relative;
}

tbody {
	height: calc(100% - 2em);
	padding-bottom: 1em;
}

tr {
	width: 100%;
	position: relative;
	display: block;
	white-space: nowrap;
}

td,
th {
	vertical-align: top;
	text-align: left;
	padding: 0.5em 0.75em;
	position: relative;
	white-space: nowrap;
	font-size: 1em;
	overflow: auto;
	max-height: 3.8em;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	display: inline-block;
}

th {
	font-weight: bold;
	background: rgb(255, 250, 200);
}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.4);
}

th.asc::before {
	content: '↓';
	margin-right: 0.2em;
	color: grey;
}

th.desc::before {
	content: '↑';
	margin-right: 0.2em;
	color: grey;
}

tabHeader {
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	position: relative;
	display: block;
	padding: 0 0.75em;
}

tabBody {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	height: calc(100% - 2.5em);
	;
}

tabBody>container {
	width: 200%;
	display: inline-block;
	position: absolute;
	height: 100%;
	transition: all ease-out .4s;
	left: 0;
	overflow-y: hidden;
}

tabBody element {
	display: inline-block;
	position: absolute;
	width: 50%;
	min-height: 10em;
	left: 0;
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
}

tab {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 0.75em 1em;
	border-radius: 1em 1em 0 0;
}

tab.selected {
	background: rgb(255, 250, 200);
}

.clickable {
	cursor: pointer;
}

log,
ticket {
	width: 100%;
	position: relative;
	display: block;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
}

log {
	padding-top: 1.6em;
}

input {
	border: none;
	border-radius: 1em;
	padding: 0.25em 0.75em;
	outline: none !important;
	appearance: none !important;
	font-size: 1em;
}